/* Write your CSS here */
.ConfigurationController-container {
  display: flex;
  flex-direction: column;
  background-color: #475569;
  width: 100%;
  min-height: 18vh;
  padding-left: 10%;
}
.Layout-heading {
  color: #f1f5f9;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 170%;
}
.check-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 18%;
  margin-bottom: 1%;
}
.check-input {
  width: 30%;
  height: 100%;
}
.content {
  color: #f1f5f9;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 100%;
}
